<div class="row" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(135, 206, 235) 100%), url(../../back.png) no-repeat center center fixed; height: 350px; width: 100%; background-size: cover; margin: 0;">
</div>


<div class="container">
    <div class="col-lg-12 d-flex justify-content-center mt-3">
        <img src="../../logo.png"/>
    </div>
    <div class="col-lg-12 d-flex justify-content-center align-items-baseline mt-3">
        <div class="h1 d-flex align-items-baseline" style="font-family: Rostov">Аптека <p class="h1 sb ml-2">BlueLife</p></div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 d-flex justify-content-center" style="text-align: center;">
            <p class="rv">Деятельность нашей аптеки максимально направлена на качественное обслуживание клиентов. </p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center" style="text-align: center;">
            <p class="rv">Мы стремимся удовлетворить их интересы и потребности, соблюдая все нормы фармацевтической этики и деонтологии.</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center" style="text-align: center;">
            <p class="rv">Наш штат – это команда высокопрофессиональных дипломированных специалистов, уровень знаний которых постоянно повышается в соответствии с настоящими и будущими потребностями.</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center" style="text-align: center;">
            <p class="rv">Аптека «BlueLife» – аптека, которая заботится о качестве предоставляемых товаров и услуг.</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center" style="text-align: center;">
            <p class="rv">Аптека «BlueLife» – аптека, заботящаяся не только о Вашем здоровье, но и об удобстве.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-lg-12 d-flex justify-content-center mb-3">
            <div class="h1" style="font-family: Rostov">Наши преимущества</div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center flex-column align-items-center ml-2">
            <img src="https://img.icons8.com/wired/80/000000/coins.png" style="object-fit: none;"/>
            <p class="card-text rv" style="text-align: center;">Снижены цены</p>
        </div>
        <div class="col-lg-2 d-flex justify-content-center flex-column  align-items-center ml-2">
            <img src="https://img.icons8.com/wired/80/000000/pill.png" style="object-fit: none;"/>
            <p class="card-text rv" style="text-align: center;">Широкий выбор лекарств</p>
        </div>
        <div class="col-lg-2 d-flex justify-content-center flex-column align-items-center ml-2">
            <img src="https://img.icons8.com/wired/80/000000/hourglass--v1.png" style="object-fit: none;"/>
            <p class="card-text rv" style="text-align: center;">Экономия времени</p>
        </div>
        <div class="col-lg-2 d-flex justify-content-center flex-column align-items-center ml-2">
            <img src="https://img.icons8.com/dotty/80/000000/point-objects.png" style="object-fit: none;"/>
            <p class="card-text rv" style="text-align: center;">Аптека доступна по всему городу</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 d-flex justify-content-center align-items-center ml-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text rv">Адреса :</p>
                    <p class="card-text rv">Переулок Колова 51а</p>
                    <p class="card-text rv">Долгинский тракт 160</p>
                    <p class="card-text rv">Улица Алибегова 18</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-flex justify-content-end">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abb8284daaf7b51af1f1af84fc269f92fe464a08b83893b26cbe74f4effad3133&amp;source=constructor" width="600" height="504" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="row mt-5" style="background-color: #e3f2fd;">
    <div class="col-lg-12 d-flex justify-content-center mt-2">
        <p class="h3 rv">Контакты</p>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="rv">Приёмная +375 29 735 07 34</p>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="rv">E-mail info@bluelife.by</p>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="rv">Понедельник - Пятница, 8:00 - 17:00</p>
    </div>
</div>