@model BlueLife.ViewModels.Admin.MedicineTypeViewModel

<form class="form-group" method="post" asp-controller="Admin" asp-action="AddMedicineType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Тип лекарства</label>
        <input class="form-control shadow-sm bg-white rounded" asp-for="Type" placeholder="Введите тип лекарства">
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block shadow-sm rounded">Добавить</button>
    </div>
</form>