@model BlueLife.ViewModels.Admin.ReleaseMedicineViewModel

<form class="form-group" method="post" asp-controller="Admin" asp-action="AddReleaseMedicine">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Лекарство</label>
        <input id="medicine" style="width: 40%;" asp-for="MedicineId"/>
    </div>
    <div class="form-group">
        <label>Производитель</label>
        <input id="medicineManufacturer" style="width: 40%;" asp-for="ManufacturerId"/>
    </div>
    <div class="form-group">
        <label>Картинка(ссылка)</label>
        <input class="form-control shadow-sm bg-white rounded" asp-for="Image" placeholder="Введите ссылку на картинку">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input class="form-control shadow-sm bg-white rounded" asp-for="Description" placeholder="Введите описание лекарства">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Дата выпуска</label>
        <input type="date" class="form-control shadow-sm bg-white rounded" asp-for="ReleaseDate" placeholder="Введите дату выпуска лекарства">
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Срок годности</label>
        <input type="date" class="form-control shadow-sm bg-white rounded" asp-for="ExpirationDate" placeholder="Введите срок годности лекарства">
        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block shadow-sm rounded">Добавить</button>
    </div>
</form>

<script>
$("#medicine").kendoDropDownList({
        dataTextField: "fullMedicine",
        dataValueField: "id",
        optionLabel: "Выберите лекарство...",
        height: 500,
        dataSource: {
            transport: {
                read: {
                    url: "@Url.Action("GetAllMedicine", "Admin")",
                    dataType: "json",
                    cache: false
                }
            }
        }
    });

$("#medicineManufacturer").kendoDropDownList({
        dataTextField: "manufacturer",
        dataValueField: "id",
        optionLabel: "Выберите производителя лекарства...",
        height: 500,
        dataSource: {
            transport: {
                read: {
                    url: "@Url.Action("GetAllMedicineManufacturer", "Admin")",
                    dataType: "json",
                    cache: false
                }
            }
        }
    });
</script>